@import url("//fonts.googleapis.com/css?family=Ubuntu:300,400,500,700,300italic,400italic,500italic,700italic");
@import url("//fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,300,400,600,700,800");
@import url("/glyphs/css/fontello.css");


html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    background: white;
    color: black;
}

h2 {
    text-align: center;
}

.cob {
    stroke: red;
    opacity: 0.5;
    fill-opacity: 0.1;
}

.carbs {
    fill: red;
}

.iob {
    stroke: blue;
    opacity: 0.5;
    fill-opacity: 0.1;
}

.insulin {
    fill: blue;
}

rect.treatment {
    stroke: none;
    opacity: 0.5;
}

text.treatment {
    font-size: 9pt;
    font-weight: normal;
    font-family: verdana, arial, sans-serif;
}

.centeraligned {
    text-align: center;
}

#pluginchartplaceholders {
    padding: 0 15px;
}

#explanation {
    font: 11px verdana, arial, sans-serif;
}

#tabnav {
    text-align: left;
    margin: 1em 0 0;
    font: bold 11pt verdana, arial, sans-serif;
    border-bottom: 1px solid #6c6;
    list-style-type: none;
    padding: 0 0 0 15px;
}

#tabnav li {
    display: inline-block;
    padding: 10px 15px;
    border-top: 1px solid #6c6;
    border-right: 1px solid #6c6;
    border-bottom: none;
    background-color: #cfc;
    color: #666;
    margin: 0 0 -1px 0;
    text-decoration: none;
}

#tabnav li:first-child {
    border-left: 1px solid #6c6;
}

#tabnav .selected {
    background: #fff;
    border-bottom: 1px solid #fff;
}

#tabnav li:hover {
    background: #9f9;
    cursor: pointer;
}

.settings {
    padding: 0 15px;
}

#toolbar {
    position: sticky;
    top: 0;
}

.tooltip {
    top: 0;
    left: 0;
    color: #444;
    position: absolute;
    text-align: left;
    padding: 4px;
    font-size: 14px;
    line-height: 15pt;
    background: white;
    border: 2px solid black;
    border-radius: 8px;
    float: right;
    min-width: 150px;
    max-width: 400px;
}

.authentication-status {
    padding: 15px;
}

input[type=date],
input[type=text],
input[type=number],
select {
    font: 12pt verdana, arial, sans-serif;
}

label {
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
    margin-right: 7px;
}

#rp_to {
    margin-right: 10px;
}

.presetdates {
    display: inline-block;
    margin-right: 8px;
}

#rp_show {
    background-color: #cfc;
    border: 1px solid #6c6;
    color: #666;
    padding: 10px;
    font-weight: bold;
    font-size: 12pt;
    text-transform: uppercase;
}

.target-bg {
    fill: #D6FFD6;
}

.measurement {
    r: 0.18em;
    stroke-width: 0.01em;
}

.critical-value {
    fill: red;
    stroke: darkred;
}

.normal-value {
    fill: limegreen;
    stroke: darkgreen;
}

.raw-value {
    fill: gray;
    stroke: rgb(41, 41, 41);
}

.transparent {
    fill: transparent;
}

.bg-check {
    fill: darkred;
    stroke: red;
}

.prediction-value {
    fill: none;
    stroke: purple;
    stroke-width: 1px;
}

.other {
    fill: none;
    stroke: darkgray;
    stroke-width: 2px;
}

.high-line {
    stroke: grey;
    stroke-dasharray: 1px, 3px;
}

.mbg {
    r: 0.15em !important;
    stroke-width: 2;
}

.axis {
    fill: none;
    font: 10pt sans-serif;
}

.x.axis {
    text-anchor: middle;
}

.y.axis {
    text-anchor: end;
}

.chart {
    background-color: whitesmoke;
    display: inline-block;
    padding: 15px;
}

.basal {
    stroke: #0099ff;
    stroke-width: 1;
    fill: none;
}

.temp.basal {
    stroke-dasharray: 3px, 3px;
}

.tempbasaltext {
    font-size: 12px;
    font-weight: bold;
    fill: rgb(0, 153, 255);
    text-anchor: middle;
}

table.insulin td:nth-child(2) {
    text-align: right;
}

table.insulin {
    display: inline-block;
    margin-right: 4em;
}

.basal.area {
    fill: #0099ff;
    fill-opacity: 0.1;
    stroke-width: 0 !important;
}

.temp.basal.area {
    fill-opacity: 0.3 !important;
    stroke-width: 1 !important;
}

rect.override {
    stroke-width: 1;
    opacity: .2;
    stroke: white;
    fill: black;
}

text.override {
    font-size: 12px;
    font-weight: bold;
    fill: black;
    text-anchor: middle;
}

.open-aps.treatment {
    stroke-width: 1;
    opacity: 0.2;
    stroke: white;
    fill: brown;
}

#rp_edittreatmentdialog label {
    padding-top: 5px
}

.editTreatment, .deleteTreatment {
    cursor: pointer;
    padding-left: 10px;
}

table.treatments {
    border-collapse: collapse;
    width: 100%;
}

table.treatments thead tr {
    background-color: grey;
    color: white;
}

table.treatments tbody tr:hover {
    background-color: lightskyblue;
}

table.treatments td, table.treatments th {
    padding: 5px;
}

table.treatments tr.border_bottom td {
    border: 1pt solid lightgrey;
}

table.treatments td.next_day {
    background-color: lightgrey;
    color: black;
    column-span: 14;
    font-weight: bold;
}

td.time {
    text-align: center;
}

td.number {
    text-align: right;
}

td.text {
    text-align: left;
}

.leftButton {
    float: left;
}

form {
    display: grid;
    gap: 20px;
}

form textarea {
    width: 100%;
}

#filter-text {
    margin-bottom: 2em;
}

@media print {

    @page {
        size: A4 landscape;
    }

    div {
        break-inside: avoid;
    }

    .no-print, .no-print * {
        display: none !important;
    }

    .chart {
        background-color: transparent;
    }

    .single-page table {
        font-size: 10pt;
    }

    svg {
        max-width: 100%;
        height: auto;
    }

    main {
        padding: 0;
    }

    .target-bg {
        fill: rgba(229, 255, 229, 0.5);
        stroke: none;
    }
}
